html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to right, rgb(200, 200, 200) 41%, white 41%);
}

header {
  position: fixed;
  z-index: 1;
  background-color: white;
  display: flex;
  width: 100%;
}

#headerLeft {
  flex: 490 1 0%;
}

#headerLeftData {
  display: grid;
}

#headerLeftDataSquare {
  position: relative;
  margin: 53px 0px 57px 0px;
  left: 50px;
  grid-area: 1 / 1;
  justify-self: start;
  width: 16px;
  height: 16px;
  background-color: blue;
}

#headerLeftDataName {
  position: relative;
  margin: 47px 0px 57px 0px;
  left: 74px;
  grid-area: 1 / 1;
  justify-self: start;
}

#headerLeftDataName p {
  font: normal normal 700 25px/1.12em "poppins-semibold", "poppins", sans-serif;
  margin: 0;
}

#headerLeftDataName a {
  text-decoration: none;
  color: inherit;
}

#headerLeftDataSlash {
  position: relative;
  margin: 52px 0px 54px 0px;
  left: 228px;
  grid-area: 1 / 1;
  justify-self: start;
}

#headerLeftDataSlash p {
  font: normal normal 400 17px/1.4em "nunito", sans-serif;
  margin: 0;
}

#headerLeftDataRole {
  position: relative;
  margin: 52px 0px 54px 0px;
  left: 242px;
  grid-area: 1 / 1;
  justify-self: start;
}

#headerLeftDataRole p {
  font: normal normal 400 17px/1.4em "nunito", sans-serif;
  margin: 0;
}

#headerRight {
  flex: 490 1 0%;
}

#headerRight nav {
  position: relative;
  margin: 40px 0px 0px calc((100% - 450px));
}

#headerRight nav ul li {
  display: inline-block;
  padding-left: 19px;
}

#headerRight nav ul li a {
  text-decoration: none;
  color: inherit;
}

#headerRight nav ul li a:hover {
  color: blue;
}

#headerRight nav ul li a p {
  display: inline-block;
  font: normal normal lighter 14px/1.4em "roboto", sans-serif;
}

main {
  height: fit-content;
  min-height: 952px;
  display: flex;
  padding: 175px 0 0 0;
  width: fit-content;
  margin: 0 auto 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

#mainContent {
  grid-area: 1 / 1;
  display: flex;
  height: fit-content;
  width: fit-content;
}

#mainContentCard {
  width: 400px;
  height: 500px;
  display: grid;
}

#mainContentCardBG {
  background-color: rgb(247, 247, 247);
  box-shadow: -11.31px 11.31px 17px 0px rgba(138, 131, 124, 0.23);
  height: 100%;
  width: 100%;
  grid-area: 1 / 1;
}

#mainContentCardDataPhoto {
  position: relative;
  margin: 43px 0px 34px 0;
  left: 81px;
  width: fit-content;
}

#mainContentCardDataPhoto img {
  border-radius: 50%;
  height: 205px;
  width: 205px;
}

#mainContentCardDataName {
  margin: 0px 0px 25px 0;
  width: 179px;
  position: relative;
  left: 98px;
}
#mainContentCardDataName p {
  font: normal normal 700 27px/1.12em "poppins-semibold", "poppins", sans-serif;
  text-align: center;
  margin: 0;
}

#mainContentCardDataLine {
  margin: 0px 0px 25px 0;
  width: 50px;
  border-top: 2px solid rgb(0, 80, 255);
  position: relative;
  left: 160px;
}

#mainContentCardDataTitle {
  width: 277px;
  margin: 0px 0px 41px 0;
  position: relative;
  left: 49px;
}
#mainContentCardDataTitle p {
  font: normal normal normal 17px/1.4em "nunito", sans-serif;
  letter-spacing: 0.25em;
  text-align: center;
  margin: 0;
}

#mainContentCardDataLinks {
  margin: 0;
  background-color: white;
  position: relative;
  display: grid;
}

#mainContentCardDataLinks ul {
  position: relative;
  margin: 10px 0px 10px 0;
  list-style: none;
  left: 172px;
  padding: 0;
  width: fit-content;
}

#mainContentCardDataLinks img {
  width: 30px;
  height: 30px;
}

#mainContentCardData {
  grid-area: 1 / 1;
}

#mainContentWelcome {
  width: 425px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: white;
   justify-content: flex-start; /* optional: top of container */
  align-items: center; 
}

#mainContentWelcomeHello p {
  font: normal normal bold 100px/1.4em "poppins-semibold", "poppins", sans-serif;
  margin: 0;
}

#mainContentWelcomeWho p {
  font: normal normal normal 24px/1.4em "nunito", sans-serif;
  margin: 0;
}

#mainContentWelcomeIntro p {
  font: normal normal normal 18px/1.4em "nunito", sans-serif;
  margin: 0;
  padding: 10px;
}
footer {
  background-color: lightgoldenrodyellow;
}

#mainContentWelcomeLinks {
  display: flex;
  column-gap: 23px;
  margin: 40px 0px 30px 0px;
}

#mainContentWelcomeLinksButtonResume {
  background-color: rgb(0, 80, 255);
  border: solid rgb(0, 80, 255);
  border-radius: 100px;
  border-width: thin;
  width: 130px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

#mainContentWelcomeLinksButtonResume:hover {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.4s ease;
}

#mainContentWelcomeLinksButtonResume a {
  text-decoration: none;
}

#mainContentWelcomeLinksButtonResume a p {
  font: normal normal bold 14px/1.4em "nunito", sans-serif;
  color: white;
  transition: color 0.2s ease;
}

#mainContentWelcomeLinksButtonResume:hover a p {
  color: black;
  transition: color 0.4s ease;
}

#mainContentWelcomeLinksButtonProjects {
  background-color: white;
  border: solid rgb(0, 0, 0);
  border-radius: 100px;
  border-width: thin;
  width: 130px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

#mainContentWelcomeLinksButtonProjects:hover {
  background-color: rgb(0, 80, 255);
  border: solid rgb(0, 80, 255);
  border-width: thin;
  transition: background-color 0.4s ease;
}

#mainContentWelcomeLinksButtonProjects a {
  text-decoration: none;
}

#mainContentWelcomeLinksButtonProjects a p {
  font: normal normal bold 14px/1.4em "nunito", sans-serif;
  color: black;
  transition: color 0.2s ease;
}

#mainContentWelcomeLinksButtonProjects:hover a p {
  color: white;
  transition: color 0.4s ease;
}
