body {
  background-color: lemonchiffon;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: lightcoral;
  display: flex;
  width: 100%;
}

#headerLeft {
  background-color: lightgray;
  flex: 490 1 0%;
}

#headerLeftData {
  display: grid;
}

#headerLeftDataSquare {
  position: relative;
  margin: 53px 0px 57px 0px;
  left: 50px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  width: 16px;
  height: 16px;
  background-color: blue;
}

#headerLeftDataName {
  position: relative;
  margin: 47px 0px 57px 0px;
  left: 74px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
}

#headerLeftDataName p {
  font: normal normal 700 25px/1.12em "poppins-semibold", "poppins", sans-serif;
  margin: 0;
}

#headerLeftDataName a {
  text-decoration: none;
  color: inherit;
}

#headerLeftDataSlash {
  position: relative;
  margin: 52px 0px 54px 0px;
  left: 228px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
}

#headerLeftDataSlash p {
  font: normal normal 400 17px/1.4em "nunito", sans-serif;
  margin: 0;
}

#headerLeftDataRole {
  position: relative;
  margin: 52px 0px 54px 0px;
  left: 242px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
}

#headerLeftDataRole p {
  font: normal normal 400 17px/1.4em "nunito", sans-serif;
  margin: 0;
}

#headerRight {
  background-color: lightsalmon;
  flex: 490 1 0%;
}

#headerRight nav {
  position: relative;
  margin: 40px 0px 0px calc((100% - 500px));

}

#headerRight nav ul li {
  display: inline-block;
  padding-left: 19px;
}

#headerRight nav ul li a {
  text-decoration: none;
  color: inherit;
}

#headerRight nav ul li a:hover {
  color: blue;
}

#headerRight nav ul li a p {
  display: inline-block;
  font: normal normal lighter 14px/1.4em "roboto", sans-serif;
  
}

main {
  background-color: lightpink;
}

footer {
  background-color: lightyellow;
}
